.home_header {
  width: 730px;
  height: 111px;
  font-family: RobotoSlab;
  font-size: 84px;
  line-height: 1.32;
  text-align: center;
  color: #c3a7d8;
}
.home_description {
  width: 628px;
  height: 70px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.home_google_button {
  width: 400px;
  height: 95px;
  border-radius: 23px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.home_container_content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
